<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add a Movie</h1>
        <form action="/add_movie" method="POST">
            <input type="text" name="movie_name" placeholder="Movie Name" required>
            <input type="text" name="director" placeholder="Director" required>
            <input type="text" name="cast" placeholder="Cast" required>
            <input type="text" name="rating" placeholder="IMDB Rating" required>
            <textarea name="description" placeholder="Movie Description"></textarea>
            <input type="submit" value="Add Movie">
        </form>
        <br>
        <button onclick="window.location.href='/movies'">Back to Movies List</button>
    </div>
</body>
</html>
