<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Reviews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Reviews for Movie: {{ movie_name }}</h1>
        <form action="/reviews/{{ movie_id }}" method="POST">
            <textarea name="review" placeholder="Write a review"></textarea>
            <input type="submit" value="Add Review">
        </form>
        <br>
        <ul class="reviews-list">
            {% for review in reviews %}
                <li>
                    <p>{{ review[2]|safe }}</p>
                </li>
            {% endfor %}
        </ul>
        <br>
        <button onclick="window.location.href='/movies'">Back to Movies List</button>
    </div>
</body>
</html>
